<!DOCTYPE HTML>

<html>
    <head>
        <title>KWEI</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}"/>
    </head>
    <body>
        <h1> KWEI </h1>

        <p>
            <br>
            "Where Am I?" <br>
            <br>
              __ _ <br>
            /  ('>- <br>
            \__/ <br>
            L\_ <br>
            <br>
        </p>
        <h6>(I know, the actual spelling of kiwi is not kwei and that is "kiwi". but this is kwei. what's wrong?)</h6>
    </body>
</html>
